<div class="form-container">
  <%= form_with model: object, url: url, method: method, local: true do |form| %>
    <% if object.is_a?(NoteForm) %>
      <%= form.hidden_field :prompt_id, value: prompt_id %>
    <% end %>
    <%= form.label :category %>
    <div class="custom-field">
      <%= form.collection_select(:category_id, Category.all, :id, :name, {}, {class: 'form-control custom-select'}) %>
      <div class="toggle-group">
        <label>
          <%= form.check_box :is_public, { class: 'toggle-status', data: { on: 'Public', off: 'Private' } } %>
          <span class="toggle-label"
                data-on="Public"
                data-off="Private"
                data-state="<%= object&.public? ? 'on' : 'off' %>"></span>
        </label>
      </div>
      <div class="button-group">
        <%= form.submit 'Save', class: 'btn btn-success custom-btn' %>
      </div>
    </div>

    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control custom-input' %>

    <%= form.label :tags %>
    <%= form.text_field :tag_name, tag_name: "#{form.object_name}[name]", class: 'form-control custom-input-tag' %>
    <div id="search-result" class="list-group"></div>

    <%= form.label :content %>
    <%= form.text_area :content, id: 'markdown-editor', class: 'form-control' %>
  <% end %>
</div>
