<div class="custom-field">
  <h2><%= object.title %></h2>
  <div class="informative"
        data-reference-id="<%= object.reference&.id %>"
        data-reference-type="<%= object.class.model_name.name %>"
        data-id="<%= object.id %>">
    <i class="bi bi-lightbulb fs-5 icon-informative"></i>
    <span class="informative-count"><%= object.reference&.click_count || 0 %></span>
  </div>
  <div class="button-group">
    <% if object.is_a?(Prompt) %>
      <%= link_to 'New Note from Prompt', new_prompt_note_path(object), class: 'btn btn-secondary custom-btn' %>
    <% end %>

    <% if user_signed_in? && object.user == current_user %>
      <%= link_to 'Edit', dynamic_path(object, :edit), class: 'btn btn-primary custom-btn' %>
      <%= link_to 'Delete', dynamic_path(object, :destroy), data: { turbo_method: :delete, turbo_confirm: '本当に削除してもよろしいですか?' }, class: 'btn btn-danger custom-btn' %>
    <% end %>
  </div>
</div>

<div>
  <strong>Category:</strong> <%= object.category.name %>
</div>
<div>
  <strong>Tags:</strong>
  <% if object.tags.any? %>
    <% object.tags.each do |tag| %>
      <span class="tag tag-<%= tag.color_code %>"><%= tag.tag_name %></span>
    <% end %>
  <% end %>
</div>
<div>
  <strong>Content</strong>
  <div class="markdown-preview"><%= markdown(object.content) %></div>
</div>
<div>
  <% if object.is_a?(Prompt) %>
    <% public_notes = @notes.select(&:public?) %>
    <% if public_notes.present? %>
      <strong>Example Answer</strong>
      <ul class="list-group small ps-4">
        <% public_notes.each do |note| %>
          <li><%= link_to note.title, note_path(note), class: 'link-body-emphasis text-decoration-none' %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
<div class="author">
  <strong>Author:</strong> <%= link_to object.user.nickname, user_path(object.user), class: 'btn btn-outline-primary btn-sm author-link' %>
</div>